{% extends "transportation/base.html" %}

{% load static %}

{% block content %}
{% load i18n %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
<div class="container">
  <div class="jumbotron mt-4">
    <h1>Vehicle Maintenance</h1>
    <p>Edit and view all vehicle's maintenance records.</p>
  </div>
  <div class="container-fluid">
    <div class="card border border-light shadow mb-4">
      <div class="card-header bg-gradient-light border-0">
        {% if user.is_staff %}
        <button id="button-new-vehicle-maintenance" class="btn btn-primary btn-primary" type="submit">New</button>
        <button id="button-del-vehicle-maintenance" class="btn btn-primary-red btn-danger" type="submit" disabled>Delete</button>
        {% endif %}
      </div>
      <div class="card-body p-0 m-0">
        {% render_table table %}
      </div>
    </div>
  </div>
</div>
{% block scripts %}
<script type="text/javascript">
  let checkboxes = $("input[type='checkbox']"),
    deleteButton = $("button[id='button-del-vehicle-maintenance']");

  checkboxes.click(function () {
    console.log("checkbox")
    deleteButton.attr("disabled", !checkboxes.is(":checked"));
  });
</script>
<script>
$(document).ready(function() {
  $('.prev i').removeClass();
  $('.prev i').addClass("fas fa-chevron-left");

  $('.next i').removeClass();
  $('.next i').addClass("fas fa-chevron-right");
});

function getCookie(name) {
  let value = "; " + document.cookie;
  const parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}

$(document).on('click', '#button-new-vehicle-maintenance', function (e) {
  window.location.href = "{% url 'new-vehicle' %}";
});

$(document).on('click', '.button-edit-vehicle-maintenance', function (e) {
  e.preventDefault();
  const vehicleId = 1;
  const maintenanceId = $(this).closest('tr').data('id');
  window.location.href = `/vehicles/${vehicleId}/maintenance/${maintenanceId}/edit`;
});

$(document).on('click', '#button-del-vehicle', function (e) {
  e.preventDefault();
  const tableControl = document.getElementById('table');
  const csrf = getCookie("csrftoken");
  $('input:checkbox:checked', tableControl).each(function () {
    let row = $(this).closest('tr');
    const vehicleId = 1;
    const maintenanceId = row.data('id');
    const deleteUrl = `/vehicles/${vehicleId}/maintenance/${maintenanceId}/delete`;
    $.ajax({
      type: 'POST',
      url: deleteUrl,
      dataType: 'html',
      data: {
        'csrfmiddlewaretoken': csrf,
      },
      success: function (successResponse) {
        row.remove();
      },
      error: function (errorResponse) {
        toastr.error('This vehicle maintenance cannot be deleted for unknown reasons. Please contact IT about this error.');
      }
    })
  });
});
</script>
{% endblock %}
{% endblock %}